article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section {
  display: block;
}

body {
  -webkit-text-size-adjust: none;
}

li {
  list-style: none;
}

blockquote, q {
  quotes: '"' '"';
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

address {
  font-style: normal;
}

input, select, button {
  vertical-align: middle;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  font-style: normal;
  font-variant: normal;
  font-weight: inherit;
  font-size: 100%;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  border-radius: 0;
}

a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

strong, em {
  font-size: inherit;
  line-height: inherit;
}
