.visual_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4%;
  width: 100%;
  height: auto;
}

.visual_section img {
  display: block;
  width: 100%;
}

.brand_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1%;
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}

.brand_section img {
  display: block;
  width: 100%;
}

.brand_section .brand_wrap_info {
  margin-top: 4%;
}

.brand_section .brand_wrap_3go {
  margin-top: 4%;
}

.menu_section {
  padding-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 90vh;
  overflow: auto;
  background-color: #fef5f0;
}

.menu_section .menu_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_section .menu_wrap .menu_title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_section .menu_wrap .menu_title_wrap .title {
  color: #fdb53d;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15%;
}

.menu_section .menu_wrap .menu_dep_wrap .dep1_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_section .menu_wrap .menu_dep_wrap .dep1_ul .dep1_item {
  margin-left: 30px;
  margin-right: 30px;
}

.menu_section .menu_wrap .menu_dep_wrap .dep1_ul .dep1_item a {
  font-family: 'NanumGothic';
  position: relative;
  font-size: 20px;
  font-weight: 400;
}

.menu_section .menu_wrap .menu_dep_wrap .dep1_ul .dep1_item a span {
  top: 150%;
  left: 1px;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 2px;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.menu_section .menu_wrap .menu_dep_wrap .dep1_ul .dep1_item a:hover {
  color: #fdbd3a;
  font-weight: 700;
}

.menu_section .menu_wrap .menu_dep_wrap .dep1_ul .dep1_item a:hover span {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  display: block;
  width: 100%;
  background-color: #fdbd3a;
}

.menu_section .menu_wrap .menu_dep_wrap .dep1_ul .dep1_item.active a {
  font-weight: 700;
}

.menu_section .menu_wrap .menu_dep_wrap .dep1_ul .dep1_item.active a span {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  display: block;
  width: 100%;
  background: #fdbd3a;
}

.menu_section .menu_wrap .menu_items_wrap {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.menu_section .menu_wrap .menu_items_wrap .menu_items_box_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_section .menu_wrap .menu_items_wrap .menu_items_box_wrap .menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 360px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_section .menu_wrap .menu_items_wrap .menu_items_box_wrap .menu_items .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 19.5px;
  background: #fff;
}

.menu_section .menu_wrap .menu_items_wrap .menu_items_box_wrap .menu_items .item .img_wrap {
  width: 100%;
  height: 70%;
  position: relative;
  overflow: hidden;
}

.menu_section .menu_wrap .menu_items_wrap .menu_items_box_wrap .menu_items .item .img_wrap img {
  border-radius: 19.5px 19.5px 0 0;
  width: 100%;
  height: 100%;
}

.menu_section .menu_wrap .menu_items_wrap .menu_items_box_wrap .menu_items .item .text_wrap {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_section .menu_wrap .menu_items_wrap .menu_items_box_wrap .menu_items .item .text_wrap p {
  font-size: 17px;
  font-weight: 700;
}

.menu_section .menu_wrap .menu_items_wrap .menu_items_box_wrap .meat, .menu_section .menu_wrap .menu_items_wrap .menu_items_box_wrap .chicken, .menu_section .menu_wrap .menu_items_wrap .menu_items_box_wrap .koreafood, .menu_section .menu_wrap .menu_items_wrap .menu_items_box_wrap .globalfood, .menu_section .menu_wrap .menu_items_wrap .menu_items_box_wrap .snackbar, .menu_section .menu_wrap .menu_items_wrap .menu_items_box_wrap .dessert {
  display: none;
}

.menu_section .menu_wrap .menu_items_wrap .menu_item_btn {
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_section .menu_wrap .menu_items_wrap .menu_item_btn .menu-swiper-right {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.menu_section .menu_wrap .menu_items_wrap .menu_item_btn .menu-swiper-right i {
  color: #ccc;
}

.menu_section .menu_wrap .menu_items_wrap .menu_item_btn .menu-swiper-right:hover {
  border: 1px solid #fdbd3a;
}

.menu_section .menu_wrap .menu_items_wrap .menu_item_btn .menu-swiper-right:hover i {
  color: #fdbd3a;
}

.menu_section .menu_wrap .menu_items_wrap .menu_item_btn .menu-swiper-left {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.menu_section .menu_wrap .menu_items_wrap .menu_item_btn .menu-swiper-left i {
  color: #ccc;
}

.menu_section .menu_wrap .menu_items_wrap .menu_item_btn .menu-swiper-left:hover {
  border: 1px solid #fdbd3a;
}

.menu_section .menu_wrap .menu_items_wrap .menu_item_btn .menu-swiper-left:hover i {
  color: #fdbd3a;
}

.menu_section .menu_wrap .menu_items_wrap .menu_btn_more_wrap {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.menu_section .menu_wrap .menu_items_wrap .menu_btn_more_wrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 46px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #ccc;
  border-radius: 10px;
  line-height: 3;
  background-color: #fff;
}

.menu_section .menu_wrap .menu_items_wrap .menu_btn_more_wrap a:hover {
  color: #fff;
  background-color: #fdb53d;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.serviceinfo_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 4%;
}

.serviceinfo_section img {
  display: block;
  width: 100%;
}

.serviceinfo_section .advertisement_wrap {
  margin-top: 2%;
}

.serviceinfo_section .technology_wrap {
  margin-top: 4%;
}

.storeinfo_section {
  padding-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 4%;
}

.storeinfo_section img {
  display: block;
  width: 100%;
}

.stroy_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  background-image: url("/wn-official/src/img/bg/bg_left.png"), url("/wn-official/src/img/bg/bg_right.png");
  background-size: 30% 40%, 30% 40%;
  background-position: 100% 12% ,0px 100%;
  background-repeat: no-repeat;
  overflow: auto;
}

.stroy_section .stroy_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.stroy_section .stroy_wrap .gallery {
  width: 100%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 4%;
}

.stroy_section .stroy_wrap .gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stroy_section .stroy_wrap .gallery ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: auto;
  margin: 2px;
}

.stroy_section .stroy_wrap .gallery ul li:nth-child(odd) {
  background-color: white;
}

.stroy_section .stroy_wrap .gallery ul li:nth-child(even) {
  background-color: #e5e5e5;
}

.stroy_section .stroy_wrap .gallery ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stroy_section .stroy_wrap .gallery ul li a img {
  width: 100%;
}

.stroy_section .stroy_wrap .more_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.stroy_section .stroy_wrap .more_wrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 46px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #ccc;
  border-radius: 50px;
  line-height: 3;
  background-color: #fff;
}

.stroy_section .stroy_wrap .more_wrap a:hover {
  color: #fff;
  background-color: #fdb53d;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.foundedcost_section {
  margin-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foundedcost_section .cooperation_wrap {
  padding-top: 4%;
}

.foundedcost_section .cooperation_wrap img {
  display: block;
  width: 100%;
}

.foundedcost_section .cost_wrap {
  padding-top: 6%;
}

.foundedcost_section .cost_wrap img {
  display: block;
  width: 100%;
}

.foundedcost_section .cost_info_wrap {
  padding-top: 6%;
}

.foundedcost_section .cost_info_wrap img {
  display: block;
  width: 100%;
}

.affiliateinquiry_section {
  position: relative;
  margin-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  background-image: url("/wn-official/src/img/bg/bg_left.png"), url("/wn-official/src/img/bg/bg_right.png");
  background-size: 30% 40%, 30% 40%;
  background-position: 100% 12% ,0px 100%;
  background-repeat: no-repeat;
  height: 90vh;
}

.affiliateinquiry_section .affiliateinquiry_wrap {
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_title_wrap .title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 2%;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_title_wrap .desc {
  font-size: 18px;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap {
  width: 100%;
  height: 420px;
  background-color: #fef5f0;
  margin-top: 6%;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .title, .affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap label {
  font-size: 17px;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_one {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_one .name_wrap {
  margin-top: 5%;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_one .name_wrap p {
  margin-bottom: 5px;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_one .name_wrap input {
  width: 40%;
  height: 40px;
  padding: 0 10px;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_one .tel_wrap {
  margin-top: 3%;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_one .tel_wrap p {
  margin-bottom: 5px;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_one .tel_wrap input {
  width: 20%;
  height: 40px;
  padding: 0 10px;
  margin-right: 5px;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_one .hopearea_wrap {
  margin-top: 3%;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_one .hopearea_wrap p {
  margin-bottom: 5px;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_one .hopearea_wrap input {
  width: 70%;
  height: 40px;
  padding: 0 10px;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_one .estimate_wrap {
  margin-top: 3%;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_one .estimate_wrap p {
  margin-bottom: 5px;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_one .estimate_wrap input {
  width: 70%;
  height: 40px;
  padding: 0 10px;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_two {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_two .question_wrap {
  margin-top: 3%;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_two .question_wrap p {
  margin-bottom: 10px;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_two .question_wrap textarea {
  width: 100%;
  height: 280px;
  border: none;
  resize: none;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_two .checkbox_btn_wrap {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a "red" background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_two .checkbox_btn_wrap .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_two .checkbox_btn_wrap .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_two .checkbox_btn_wrap .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_two .checkbox_btn_wrap .container:hover input ~ .checkmark {
  background-color: #ccc;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_two .checkbox_btn_wrap .container input:checked ~ .checkmark {
  background-color: #fdb53d;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_two .checkbox_btn_wrap .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_two .checkbox_btn_wrap .container input:checked ~ .checkmark:after {
  display: block;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_two .checkbox_btn_wrap .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_two .checkbox_btn_wrap button {
  border: 1px solid #ccc;
  width: 200px;
  height: 46px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50px;
}

.affiliateinquiry_section .affiliateinquiry_wrap .affiliateinquiry_text_wrap .affiliateinquiry_text_two .checkbox_btn_wrap button:hover {
  color: #fff;
  background-color: #fdb53d;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
