/* best */
.best {
  height: 100vh;
  background-color: salmon;
}

.best_btns {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 54px;
  height: 54px;
  margin-top: -27px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
}

.best_btns.best_prev {
  left: 50px;
  background-image: url("/src/img/button/best_prev.png") !important;
}

.best_btns.best_next {
  right: 50px;
  background-image: url("/src/img/button/best_next.png") !important;
}

.main2 {
  height: 100vh;
  background-color: seagreen;
}
