@charset 'utf-8';

.header_wrap {
    .top_header_wrap {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: end;
        .top_heder_right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 120px;
            span {
                font-size: 0;
                cursor: pointer;
            }
        }
    }
    .nav_wrap {
        width: 100%;
        height: 80px;
        background: rgba(206, 42 ,30, 1);
        z-index: 500;
        transition: 0.5s all ease;
        .menu_nav {
            height: 80px;
            display: flex;
            align-items: center;
            color: #fff;
            h1 {
                font-size: 0;
                width: 50%;
                height: 100%;
                a {
                    display: flex;
                    align-items: center;
                    // width: 100%;
                    height: 100%;
                }
            }
            .list_menus {
                height: 80px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 40%;
                li {
                    a {
                        width: 100%;
                        font-size: 1.2em;
                        color: #fff;
                        line-height: 80px;
                        border-bottom: 0px solid rgba(255,255,255,0);
                        span {
                            display: block;
                            background: #fff;
                            width: 0;
                            height: 2px;
                            margin: 0;
                            transition: 0.5s all ease;
                        }
                    }
                    
                    &:hover {
                        a {
                            span {
                                display: block;
                                background: #aee5ff;
                                width: 100%;
                            }
                        }
                    }
                }
            }
            
        }
        
    }
}