#draggable { 
    top: 100px; 
    left : 100px; 
    width: auto; 
    height: auto; 
    padding: 0.5em;
    img {
        width: 100%;
        display: block;
    }
    span { 
        font-size:12px; 
    } 
}
            
            
        