@charset 'utf-8';


#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    // background-image: url('/wn-official/src/img/bg/bg_left.png'), url('/wn-official/src/img/bg/bg_right.png'), url('/wn-official/src/img/bg/bg_center.png');
    // background-size: 35% 15%, 35% 15%, 80% 12%;
    // background-position: 100% 10% ,0px 45%, 50% 100%;
    // background-repeat:no-repeat;
    // overflow: auto;
    .smartstor_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        img {
            display: block;
            width: 100%;
        }
    }
    
    .stormap_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 4%;
        margin-bottom: 4%;
        .title_wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 5%;
            .title {
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 1%;
            }
            .desc {
                font-size: 16px;
                font-weight: 500;
            }
        }
        img {
            display: block;
            width: 100%;
        }
    }
    
    .experience_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 3%;
        .experience_wrap {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .experience_img_wrap {
                margin-right: 4%;
                img {
                    width: 100%;
                    display: block;
                }
            }
            .experience_sns_img_wrap {
                img {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
    .interior_section {
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 6%;
        .title_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 14px;
            .title {
                font-size: 35px;
                font-weight: 700;
            }
            .desc {
                font-size: 18px;
                margin-top: 2%;
                margin-bottom: 1%;
            }
        }
        .market_img_wrap {
            margin-top: 3%;
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            .market_img_items{
                display: flex;
                width: 100%;
                height: 8%;
                transition: 0.5s;
                align-items: center;
                .item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    border-radius: 19.5px;
                    background: #fff;
                    justify-content: center;
                    align-items: center;
                    img {
                        display: block;
                        width: 80%;
                        object-fit: cover;
                    }  
                }        
            }
                
        }
    }
    
    .smartdevice_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        .title_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 14px;
            .title {
                font-size: 35px;
                font-weight: 700;
            }
            .desc {
                font-size: 18px;
                margin-top: 2%;
                margin-bottom: 1%;
            }
        }
        .smart_img_wrap {
            position: relative;
            margin-top: 3%;
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            .smart_img_items {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                transition: 0.5s;
                margin: 0 40px;
                overflow: hidden;
                .item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    .item_view {
                        padding: 3.2% 2.8% 2.8%;
                        background: #fff;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        // border-radius: 6%;
                        overflow: hidden;
                        .img_wrap {
                            img {
                                display: block;
                            }
                        }
                        .text_wrap {
                            margin-top: 8%;
                            margin-bottom: 6%;
                            .title {
                                font-size: 20px;
                                font-weight: 700;
                            }
                            .desc {
                                margin-top: 8%;
                            }
                            
                        }
                    }
                }
            }
            .circleL_icon {
                display: block;
                width: 40px;
                height: 40px;
                border: 1px solid #ccc;
                color: #222;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 2%;
                transform: translate(-50%, -50%);
                // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
                z-index: 99;
                i {
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:hover {
                    border-color: #fdbd3a;
                    i {
                        color: #fdbd3a;
                    }
                }
            }
            .circleR_icon {
                display: block;
                width: 40px;
                height: 40px;
                border: 1px solid #ccc;
                color: #222;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                right: 2%;
                transform: translate(50%, -50%);
                // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
                z-index: 99;
                i {
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:hover {
                    border-color: #fdbd3a;
                    i {
                        color: #fdbd3a;
                    }
                }
            }
              
        }
    }
    
    .drawing_section {
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        img {
            display: block;
            width: 100%;
        }
    }
}
