@charset 'utf-8';


#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    // background-image: url('/wn-official/src/img/bg/bg_left.png'), url('/wn-official/src/img/bg/bg_right.png'), url('/wn-official/src/img/bg/bg_center.png');
    // background-size: 35% 15%, 35% 15%, 80% 12%;
    // background-position: 100% 10% ,0px 45%, 50% 100%;
    // background-repeat:no-repeat;
    // overflow: auto;
    .smartstor_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        img {
            display: block;
            width: 100%;
        }
    }
    
    .stormap_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 4%;
        margin-bottom: 4%;
        .title_wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 5%;
            .title {
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 1%;
            }
            .desc {
                font-size: 16px;
                font-weight: 500;
            }
        }
        img {
            display: block;
            width: 100%;
        }
    }
    
    .experience_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 3%;
        .experience_wrap {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .experience_img_wrap {
                margin-right: 4%;
                img {
                    width: 100%;
                    display: block;
                }
            }
            .experience_sns_img_wrap {
                img {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
    .interior_section {
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 6%;
        .title_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 14px;
            .title {
                font-size: 35px;
                font-weight: 700;
            }
            .desc {
                font-size: 18px;
                margin-top: 2%;
                margin-bottom: 1%;
            }
        }
        .market_img_wrap {
            margin-top: 3%;
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            .market_img_items{
                display: flex;
                width: 100%;
                height: 8%;
                transition: 0.5s;
                align-items: center;
                .item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    border-radius: 19.5px;
                    background: #fff;
                    justify-content: center;
                    align-items: center;
                    img {
                        display: block;
                        width: 80%;
                        object-fit: cover;
                    }  
                }        
            }
                
        }
    }
    
    .smartdevice_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        .title_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 14px;
            .title {
                font-size: 35px;
                font-weight: 700;
            }
            .desc {
                font-size: 18px;
                margin-top: 2%;
                margin-bottom: 1%;
            }
        }
        .smart_img_wrap {
            position: relative;
            margin-top: 3%;
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            .smart_img_items {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                transition: 0.5s;
                margin: 0 40px;
                overflow: hidden;
                .item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    .item_view {
                        padding: 3.2% 2.8% 2.8%;
                        background: #fff;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        // border-radius: 6%;
                        overflow: hidden;
                        .img_wrap {
                            img {
                                display: block;
                            }
                        }
                        .text_wrap {
                            margin-top: 8%;
                            margin-bottom: 6%;
                            .title {
                                font-size: 20px;
                                font-weight: 700;
                            }
                            .desc {
                                margin-top: 8%;
                            }
                            
                        }
                    }
                }
            }
            .circleL_icon {
                display: block;
                width: 40px;
                height: 40px;
                border: 1px solid #ccc;
                color: #222;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 2%;
                transform: translate(-50%, -50%);
                // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
                z-index: 99;
                i {
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:hover {
                    border-color: #fdbd3a;
                    i {
                        color: #fdbd3a;
                    }
                }
            }
            .circleR_icon {
                display: block;
                width: 40px;
                height: 40px;
                border: 1px solid #ccc;
                color: #222;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                right: 2%;
                transform: translate(50%, -50%);
                // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
                z-index: 99;
                i {
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:hover {
                    border-color: #fdbd3a;
                    i {
                        color: #fdbd3a;
                    }
                }
            }
              
        }
    }
    
    .drawing_section {
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        img {
            display: block;
            width: 100%;
        }
    }

    .smart_affiliateinquiry_section {
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        .affiliateinquiry_wrap {
            padding-top: 3%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .affiliateinquiry_title_wrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                .title {
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 2%;
                }
                .desc {
                    font-size: 18px;
                }
            }
            .affiliateinquiry_text_wrap {
                width: auto;
                // height: 420px;
                background-color: #fef5f0;
                margin-top: 6%;
                padding: 20px 40px;
                display: flex;
                flex-direction: row;
                .title, label {
                    font-size: 17px;
                }
                .affiliateinquiry_text_one {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    .name_wrap {
                        margin-top: 5%;
                        p {
                            margin-bottom: 5px;
                        }
                        input {
                            width: 40%;
                            height: 40px;
                            padding: 0 10px;
                        }
                    }
                    .tel_wrap {
                        margin-top: 3%;
                        p {
                            margin-bottom: 5px;
                        }
                        input {
                            width: 20%;
                            height: 40px;
                            padding: 0 10px;
                            margin-right: 5px;
                        }
                    }
                    .hopearea_wrap {
                        margin-top: 3%;
                        p {
                            margin-bottom: 5px;
                        }
                        input {
                            width: 70%;
                            height: 40px;
                            padding: 0 10px;
                        }
                    }
                    .estimate_wrap {
                        margin-top: 3%;
                        p {
                            margin-bottom: 5px;
                        }
                        input {
                            width: 70%;
                            height: 40px;
                            padding: 0 10px;
                        }
                    }
                }
                .affiliateinquiry_text_two {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    .question_wrap {
                        margin-top: 3%;
                        p {
                            margin-bottom: 10px;
                        }
                        select {
                            height: 40px;
                        }
                    }
                    .division_chekbox_wrap {
                        display: flex;
                        flex-direction: row;
                        .smartdevice {
                            margin-top: 2%;
                            margin-bottom: 2%;
                            margin-right: 4%;
                            .title {
                                font-weight: 700;
                                margin-bottom: 4%;
                            }
                            .chekbox_wrap {
                                display: flex;
                                flex-direction: column;
                                label {
                                    margin-bottom: 2%;
                                }
                            }
                        }
                        .hopeprogram {
                            margin-top: 2%;
                            margin-bottom: 2%;
                            .title {
                                font-weight: 700;
                                margin-bottom: 4%;
                            }
                            .chekbox_wrap {
                                display: flex;
                                flex-direction: column;
                                label {
                                    margin-bottom: 2%;
                                }
                            }
                        }
                    }
                    
                    .checkbox_btn_wrap {
                        margin-top: 2%;
                        display: flex;
                        justify-content: space-between;
                        .container {
                            display: block;
                            position: relative;
                            padding-left: 35px;
                            margin-bottom: 12px;
                            cursor: pointer;
                            font-size: 18px;
                        }  
                        /* Hide the browser's default checkbox */
                        .container input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }  
                        /* Create a custom checkbox */
                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 25px;
                            width: 25px;
                            background-color: #fff;
                        }  
                        /* On mouse-over, add a grey background color */
                        .container:hover input ~ .checkmark {
                            background-color: #ccc;
                        }
                        /* When the checkbox is checked, add a "red" background */
                        .container input:checked ~ .checkmark {
                            background-color: #fdbd3a;
                        }
                        /* Create the checkmark/indicator (hidden when not checked) */
                        .checkmark:after {
                            content: "";
                            position: absolute;
                            display: none;
                        }  
                        /* Show the checkmark when checked */
                        .container input:checked ~ .checkmark:after {
                            display: block;
                        }
                        /* Style the checkmark/indicator */
                        .container .checkmark:after {
                            left: 9px;
                            top: 5px;
                            width: 5px;
                            height: 10px;
                            border: solid white;
                            border-width: 0 3px 3px 0;
                            transform: rotate(45deg);
                        }
                        button {
                            border: 1px solid #ccc;
                            width: 200px;
                            height: 46px;
                            font-size: 14px;
                            font-weight: 700;
                            border-radius: 50px;
                            &:hover {
                                color: #fff;
                                background-color: #fdbd3a;
                                transition: 0.5s all ease;
                            }
                        }
                    }
                }
            }
        }
    }
}
