@charset 'utf-8';


#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    // background-image: url('/wn-official/src/img/bg/bg_left.png'), url('/wn-official/src/img/bg/bg_right.png'), url('/wn-official/src/img/bg/bg_center.png');
    // background-size: 35% 15%, 35% 15%, 80% 12%;
    // background-position: 100% 10% ,0px 45%, 50% 100%;
    // background-repeat:no-repeat;
    // overflow: auto;
    .smartstor_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        img {
            display: block;
            width: 100%;
        }
    }
    
    .stormap_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 2%;
        .title_wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 5%;
            .title {
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 1%;
            }
            .desc {
                font-size: 16px;
                font-weight: 500;
            }
        }
        img {
            display: block;
            width: 100%;
        }
    }
    
    .experience_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 3%;
        img {
            display: block;
            width: 100%;
            
        }
    }
    .interior_section {
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-bottom: 6%;
        .title_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 14px;
            .title {
                font-size: 30px;
                font-weight: 700;
            }
            .desc {
                margin-top: 2%;
                margin-bottom: 1%;
            }
        }
        .market_img_wrap {
            margin-top: 3%;
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            .market_img_items{
                display: flex;
                width: 100%;
                height: 8%;
                transition: 0.5s;
                align-items: center;
                .item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    border-radius: 19.5px;
                    background: #fff;
                    justify-content: center;
                    align-items: center;
                    img {
                        display: block;
                        width: 80%;
                        object-fit: cover;
                    }  
                }        
            }
                
        }
    }
    
    .smartdevice_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        .title_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 14px;
            .title {
                font-size: 30px;
                font-weight: 700;
            }
            .desc {
                margin-top: 2%;
                margin-bottom: 1%;
            }
        }
        .smart_img_wrap {
            
        }
    }
    
    .drawing_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        img {
            display: block;
            width: 100%;
        }
    }
}
